.tv-btn{
  display: inline-block;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  padding: $spacer-2 $spacer-3;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &__text{
    font-size: 15px;
    font-weight: 700;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

  }

  &:focus{
    outline: none;
  }

  &:hover{
    background-color: $color-white;
    transition: all 0.3s ease-in-out;

    .tv-btn__text{
        color: $color-blue;
        transition: all 0.3s ease-in-out;
    }
  }
}